<template>
  <v-container>
    <v-layout
      text-left
      wrap
    >
      <CompanyInfo v-bind:companyInfo="insights.value.companyInfo"  v-bind:isLoading="insights.isLoading" />
      <CorporateActions v-bind:corporateActions="insights.value.corporateActions" v-bind:isLoading="insights.isLoading" />
      <CorporateAnnouncements v-bind:corporateAnnouncements="insights.value.corporateAnnouncements" v-bind:isLoading="insights.isLoading" />

      <v-bottom-sheet v-model="selectedAnnouncement" v-if="!!selectedAnnouncement">
        <v-sheet class="text-center" height="40vh">
          <v-app-bar color="blue accent-4" dark>
            <v-btn fab color="blue" @click="selectedAnnouncement = null">
              <v-icon>mdi-window-close</v-icon>
            </v-btn>
          </v-app-bar>

          <iframe :src="selectedAnnouncement.iframeProxyUrl"></iframe>
        </v-sheet>
      </v-bottom-sheet>

    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import {
  VCard,
  VCardText,
  VCardTitle,
  VIcon,
  VListItem,
  VListItemContent,
  VListItemSubtitle,
  VListItemTitle,
  VSpacer,
  VSystemBar,
  VTimeline,
  VTimelineItem
} from 'vuetify/lib'

const CompanyInsightsCard = ({ props: { barTitle, icon = 'mdi-account-multiple-outline', isLoading }, children }) => (
  <VCard class="mx-auto insights-card" loading={isLoading} raised>
    <VSystemBar color="blue" dark height="30rem">
      <VIcon>{icon}</VIcon>
      <h3>{barTitle}</h3>
      <VSpacer/>
    </VSystemBar>
    { children }
  </VCard>
)

const CompanyInfoAttribute = ({ props: { attribute } }) => (
  <VListItem two-line>
    <VListItemContent>
      <VListItemTitle> { attribute.key }</VListItemTitle>
      <VListItemSubtitle> { attribute.value }</VListItemSubtitle>
    </VListItemContent>
  </VListItem>
)

const CompanyInfo = ({ props: { companyInfo, isLoading } }) => {
  const { title, info = [], disclaimer } = companyInfo
  return (
    <CompanyInsightsCard barTitle="Company Info" isLoading={isLoading} >
      <VCardTitle> {title} </VCardTitle>
      {info.map(t => (<CompanyInfoAttribute attribute={t}/>))}
      <VCardText>  {disclaimer} </VCardText>
    </CompanyInsightsCard>
  )
}

const CorporateActions = ({ props: { corporateActions: { actions = [] }, isLoading } }) => (
  <CompanyInsightsCard barTitle="Corporate Actions" isLoading={isLoading}>
    <VTimeline left small>
      {actions.map(action =>
        <VTimelineItem style="margin: 0 0.5rem">
          <span slot="opposite"> { action.exDate.toDateString()}</span>
          <VCard raised>
            <VCardText style="color: black;">
              {action.purpose}
            </VCardText>
          </VCard>
        </VTimelineItem>
      )}
    </VTimeline>
  </CompanyInsightsCard>
)

const CorporateAnnouncements = ({ props: { corporateAnnouncements = [], isLoading }, parent }) => (
  <CompanyInsightsCard barTitle="Corporate Announcements" isLoading={isLoading}>
    {corporateAnnouncements.map(announcement =>
      <VCardText>
        <a onClick={() => parent.displayAnnouncement(announcement)}>
          {announcement.details}
        </a>
        <a target="_blank" href={announcement.url}>
          <VIcon> mdi-open-in-new </VIcon>
        </a>
      </VCardText>
    )}
  </CompanyInsightsCard>
)

export default {
  name: 'CompanyInsights',
  components: {
    CompanyInfo,
    CorporateActions,
    CorporateAnnouncements
  },

  data: () => ({
    selectedAnnouncement: null
  }),

  computed: {
    ...mapState({
      insights: state => {
        return state.companyInsightsStore.insights
      }
    })
  },

  methods: {
    displayAnnouncement (announcement) {
      this.selectedAnnouncement = announcement
      if (announcement.url) {
        this.selectedAnnouncement.iframeProxyUrl = `/proxy-nse/${announcement.url.split('www1.nseindia.com/')[1]}`
      }
    }
  }
}
</script>

<style>
.insights-card {
  min-width: 20rem;
  max-width: 30rem;
  width: 30%;
  margin: 0.5rem 0;
  min-height: 50vh;
}
iframe {
  width: inherit;
}
.v-app-bar .v-btn{
  margin: 0 auto;
}
</style>
