<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-autocomplete
        v-model="selectedCompany"
        label="Companies"
        :loading="companyMetas.isLoading"
        :items="companyMetas.value"
        :search-input.sync="query"
        item-text="companyLabel"
        outlined
        return-object
      ></v-autocomplete>

      <v-select
        v-model="listingPeriod"
        :items="validListingPeriods"
        item-text="1"
        label="Listing Period"
        outlined
        return-object
      ></v-select>

      <v-btn
        fab
        dark
        color="blue"
        @click="searchEquitiesButtonClick"
      >
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-layout>
  </v-container>
</template>
<style>
  .layout.text-center.wrap > * {
    margin: 0.5em;
  }
</style>
<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'SearchBar',

  data () {
    return {
      query: null,
      selectedCompany: {},
      listingPeriod: ['L1M', 'Last 1 Month']
    }
  },
  computed: {
    ...mapState({
      companyMetas: state => state.companyStore.companyMetas,
      validListingPeriods: state => Object.entries(state.companyStore.validListingPeriods)
    })
  },
  methods: {
    ...mapActions(['searchCompaniesAfterInputIsFinished', 'searchEquities']),
    searchEquitiesButtonClick () {
      this.searchEquities({ symbol: this.selectedCompany.symbol, listingPeriod: this.listingPeriod[0] })
    }
  },
  watch: {
    query (newValue) {
      if (!newValue || (newValue === '')) {
        this.selectedCompany = {}
        return
      }

      // TODO: Instead of watching, @update:search-input event can be used
      this.searchCompaniesAfterInputIsFinished(newValue)
    }
  }
}
</script>
