<template>
  <v-container>
    <v-card>
      <v-card-title>
        Listed Equities
        <v-spacer></v-spacer>

        <v-btn
          v-if="equities.fetchNextResults"
          dark
          color="blue"
          @click="loadNextEquitySearchResults"
        >
          Load more results
        </v-btn>

        <v-spacer></v-spacer>

        <v-text-field
          v-model="inPlaceSearch"
          append-icon="mdi-magnify"
          label="In place filter"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>

      <v-data-table
        :headers="equities.headers"
        :items="equities.value"
        :items-per-page="5"
        :search="inPlaceSearch"
        @click:row="fetchInsights"
        class="elevation-1"
        dense
        multi-sort
      ></v-data-table>
    </v-card>
  </v-container>
</template>

<style>
  .v-card {
    width: 100%;
  }
</style>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'SearchResults',

  data: () => ({
    inPlaceSearch: ''
  }),

  computed: {
    ...mapState({
      equities: state => state.companyStore.equities
    })
  },
  methods: {
    ...mapActions(['loadNextEquitySearchResults', 'fetchInsights'])
  }
}
</script>
