<template>
  <v-container class="company-explorer-shell">
    <v-layout
      text-center
      wrap
    >
      <SearchBar />
      <SearchResults />
      <CompanyInsights />

    </v-layout>
  </v-container>
</template>

<script>
import CompanyInsights from './company/CompanyInsights'
import SearchBar from './company/SearchBar'
import SearchResults from './company/SearchResults'

export default {
  name: 'CompanyExplorer',

  data: () => ({
  }),

  components: {
    SearchBar,
    SearchResults,
    CompanyInsights
  }
}
</script>

<style>
.container {
  max-width: 95vw;
}
</style>
