<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <h1> Zerodha </h1>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="/api-docs"
        target="_blank"
        text
      >
        <span class="mr-2">Backend API docs</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
      <CompanyExplorer />
    </v-content>
  </v-app>
</template>

<script>
import CompanyExplorer from './components/CompanyExplorer'

export default {
  name: 'App',

  components: {
    CompanyExplorer
  },

  data: () => ({
    //
  })
}
</script>
